---
layout: page
lang: en
---
<div id="about">
    <div class="header-img-preload"><img style="display: none;" src="media/background.jpg" alt=""></div>
    {% include presentation-en.html %}
</div>

<div id="projects">
    <div class="container">
        <h1 class="page-header">Portfolio</h1>
    </div>

    <div class="container project-grid">
        <div class="row">
            {% assign sorted_projects = site.projects | sort: 'order' | reverse %}
            {% for project in sorted_projects %}
            {% if project.lang == "en" %}

            <div class="col-xs-6 col-sm-4 col-md-3">
                <a href="{{ project.url }}" class="thumbnail project-thumb">
                    <img src="media/projets-icones/{{project.icone}}"/>

                    {% if project.mention != nil %}
                        {{project.mention}}
                    {% endif %}

                    <div class="project-desc-container">
                        <div class="project-desc">
                            <div>
                                <h4>{{project.title}}</h4>
                                <p>{{project.desc}}</p>
                                <p>
                                    {% for projectcategory in project.projectcategories %}
                                    {% assign categorydata = site.data.projectcategories[projectcategory.name] %}
                                    <span class="label label-{{categorydata.color}}"><i class="fa fa-{{categorydata.icon}}" aria-hidden="true"></i>&nbsp;{{categorydata.name-en}}</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}

            <div class="col-xs-6 col-sm-4 col-md-3">
                <a class="thumbnail project-thumb">
                    <img src="media/projets-icones/more.png"/>

                    <div class="project-desc-container">
                        <div class="project-desc">
                            <div>
                                <h4>More projects coming, soon...</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>