<div class="jumbotron" id="contact">
    <div class="container">
            <h4>{{site.title}}</h4>
            <h5>
                {% if page.lang == 'en' %}
                Developper, UX designer
                {% else %}
                Développeur, UX Designer
                {% endif %}
                </h5>
            <div>
                <a href="mailto:{{site.email}}" aria-label="contact mail" class="btn btn-primary"
                   data-toggle="tooltip" data-placement="bottom" title="Mail: {{site.email}}">
                    <i class="fa fa-at fa-3x fa-fw" aria-hidden="true"></i>
                </a>&nbsp;
                <a href="https://www.linkedin.com/in/theodela" aria-label="page linkedin" class="btn btn-default"
                   data-toggle="tooltip" data-placement="bottom" title="Linkedin : TheoDela">
                    <i class="fa fa-linkedin fa-3x fa-fw" aria-hidden="true"></i>
                </a>&nbsp;
                <a href="https://github.com/TheoDel" aria-label="page github" class="btn btn-default"
                   data-toggle="tooltip" data-placement="bottom" title="Github : theodel">
                    <i class="fa fa-github fa-3x fa-fw" aria-hidden="true"></i>
                </a>&nbsp;
            </div>
    </div>
</div>
