<div class="container">
    <div class="home-header animated flipInX">
        <h1>Théo Delalande-Delarbre</h1>
        <h3>UX Design student and developer</h3>
    </div>
    <div class="jumbotron animated flipInX">
        <h3><i class="fa fa-fw fa-hand-o-right" aria-hidden="true"></i> I'm not currently looking for opportunities.</h3>
        <div class="row">
            <div class="col-sm-6"><blockquote>
                <p><i class="fa fa-fw fa-paper-plane" aria-hidden="true"></i> Feel free to contact me !</p>
                <p>
                    <a href="mailto:{{site.email}}" class="btn btn-primary btn-lg">
                        {{site.email}}
                    </a>&nbsp;
                </p>
            </blockquote></div>

            <div class="col-sm-6"><blockquote>
                <p>&nbsp;</p>
                <p><a href="media/CV-en.pdf" class="btn btn-danger btn-lg">
            Download my resume (English)
            </a>&nbsp;<a href="media/CV.pdf" class="btn btn-default btn-lg">
            CV en français
            </a></p>
            </blockquote></div>

        </div>
    </div>

</div>