<div class="container">
    <div class="home-header animated flipInX">
        <h1>Théo Delalande-Delarbre</h1>
        <h3>&Eacute;tudiant en UX Design et développeur</h3>
    </div>
    <div class="jumbotron animated flipInX">
        <h3><i class="fa fa-fw fa-lightbulb-o animated infinite swing" aria-hidden="true"></i> Je suis actuellement en recherche d'un stage en UX Design de 6 mois à l'international</h3>
        <div class="row">
            <div class="col-sm-6"><blockquote>
                <p><i class="fa fa-fw fa-calendar-check-o" aria-hidden="true"></i> Disponible &agrave; partir de Février 2017</p>
                <p><a href="media/CV.pdf" class="btn btn-danger btn-lg">
                    Télécharger mon CV (Français)
                </a>&nbsp;<a href="media/CV-en.pdf" class="btn btn-default btn-lg">
                    English resume
                </a></p>
            </blockquote></div>

            <div class="col-sm-6"><blockquote>
                <p><i class="fa fa-fw fa-paper-plane" aria-hidden="true"></i> N'hésitez pas à me contacter !</p>
                <p>
                    <a href="mailto:{{site.email}}" class="btn btn-primary btn-lg">
                        {{site.email}}
                    </a>&nbsp;
                </p>
            </blockquote></div>
        </div>
    </div>

</div>