<div class="container">
    <div class="jumbotron">
        <h3>Je suis actuellement en recherche de stage en UX Design</h3>
        <p>Disponible &agrave; partir de Février 2017</p>
        <p><a href="media/CV.pdf" class="btn btn-success">
            Télécharger mon CV
        </a></p>
        <br/>
        <p>N'hésitez pas à me contacter</p>
        <p>
            <a href="mailto:{{site.email}}" class="btn btn-primary">
                {{site.email}}
            </a>&nbsp;
        </p>
    </div>

</div>