<div class="container">
    <div class="jumbotron">
        <h2>Bienvenue</h2>
        <p>Je suis étudiant en UX design, en master Innovation et Complexité à l'Université de Technologie de Compiègne et développeur.</p>
        <br/>

        <h3>Je suis actuellement en recherche de stage en UX Design</h3>
        <div class="row">
            <div class="col-sm-6"><blockquote>
                <p>Disponible &agrave; partir de Février 2017</p>
                <p><a href="media/CV.pdf" class="btn btn-success btn-lg">
                Télécharger mon CV
                </a></p>
            </blockquote></div>

            <div class="col-sm-6"><blockquote>
                <p>N'hésitez pas à me contacter</p>
                <p>
                    <a href="mailto:{{site.email}}" class="btn btn-primary btn-lg">
                        {{site.email}}
                    </a>&nbsp;
                </p>
            </blockquote></div>
        </div>
    </div>

</div>