body{
  padding-top: 50px;
  position: relative;
}

.navbar-nav li a{
  transition: all 0.2s ease 0s;
}

/*
Home page
*/
#about {
  min-height: calc(~"100vh - 50px");
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background: #f9f2e5;
  background: url("../media/background.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

#about .jumbotron {
  background-color: #fafafae6;
}

.home-header {
  text-align: center;
  margin-bottom: @navbar_offset;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 1);
  color: black;
}

#projects {
  margin-top: -@navbar_offset;
  padding-top: @navbar_offset;
}

.project-grid .project-thumb {
  padding: 0px;
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    -webkit-transition: @transition_zoom; /* Safari and Chrome */
    -moz-transition: @transition_zoom; /* Firefox */
    -o-transition: @transition_zoom; /* IE 9 */
    -ms-transition: @transition_zoom; /* Opera */
    transition: @transition_zoom;
    max-width: 100%;
  }

  .project-desc-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.5s ease-in-out 0s;
    text-align: center;
    top: 0px;
    opacity: 0;
    background-color: fade(@brand-primary, 80%);
    color: #fff;
  }

  .project-desc {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .mention {
    position: absolute;
    left: 0px;
    bottom: 10%;
    margin-bottom:0px;
    padding: 10px 15px;
    color: white;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 0px 4px 4px 0px;
    cursor: default;
  }
}

.project-thumb:hover{
  img {
    -webkit-transform:scale(@transition_zoom_percent); /* Safari and Chrome */
    -moz-transform:scale(@transition_zoom_percent); /* Firefox */
    -ms-transform:scale(@transition_zoom_percent); /* IE 9 */
    -o-transform:scale(@transition_zoom_percent); /* Opera */
    transform:scale(@transition_zoom_percent);
  }

  .project-desc-container {
    opacity: 1;
  }
}

#contact{
  margin-bottom: 0px;
  margin-top: 20px;
  transition: all 1s ease 0s;

  border-left: 0px;
  border-right: 0px;
}

#contact.highlight{
  color: darken(@text-color,10%);
  background-color: darken(@jumbotron-bg,10%);
  border-top-color: darken(@navbar-inverse-bg, 0%);

  webkit-box-shadow: inset 0 2px 0 fade(@brand-primary, 50%);
  box-shadow: inset 0 2px 0 fade(@brand-primary, 80%);
}

/*
Project pages
*/
.project-bandeau {
  background-color: darken(@brand-primary, 6.5%);
  color: white;
  border-bottom: @border-radius-base solid darken(@navbar-inverse-bg, 10%);
  margin-bottom: 30px;

  .page-header {
    border-bottom: none;
  }
}

.project-header {
  overflow: hidden;
  margin: 0px 10px 30px 10px;
  text-align: center;
}

img.project-techno {
  height : 48px;
  cursor: help;
}

.project-infos{
  margin-bottom: 11px;

  ul li{
    margin-bottom: 11px;
  }
}

.carousel-caption{
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 1);
}